<html><head></head><body>{% block head %}

<title>CHECK GRADE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">CHECK AGGREEGATE PERCENTAGE AND GRADE</h1>

    <div class="form">
        <form action="/subject" method="POST">
            <label for="operation">Physics</label>
            <input type="text" name="num1" id="num1">

	    <label for="operation">Chemistry</label>
            <input type="text" name="num2" id="num2">
            
            <label for="operation">Maths</label>
            <input type="text" name="num3" id="num3">

            <input type="submit" value="Evaluate">
        </form>
    </div>
</div>
{% endblock %}</body></html>