{% block head %}

<title>CHECK GRADE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">CHECK GRADE</h1>

    <div class="form">
        <form action="/grade" method="POST">
            <label for="operation">Enter Marks Obtained</label>
            <input type="text" name="num1" id="num1">
            <input type="submit" value="Evaluate">
        </form>
    </div>
</div>
{% endblock %}